<%- include('./partials/head.ejs', {scripts:[], styles:[{src:'/styles/errors.css'}] title:'401'}) %>

<main>
    <h1>Brak dostępu</h1>
    <a href="/" id="homeButton">Powrót na stronę głównę</a>
</main>

<%- include('./partials/footer.ejs') %>