<%- include('./partials/head.ejs', {scripts:[], styles:[{src:'/styles/errors.css'}], title:'404'}) %>

<main>
    <h1>Nie znaleziono strony</h1>
    <a href="/" id="homeButton">Powrót na stronę głównę</a>
</main>

<%- include('./partials/footer.ejs') %>