.circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
    clip-path: inset(60px 0 0 0);
}


.circles li {
    position: absolute;
    display: block;
    list-style: none;
    bottom: -150px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate linear infinite;
}


.circles li:nth-child(1) { left: 25%; width: 80px; height: 80px; animation-duration: 25s; animation-delay: 0s; }
.circles li:nth-child(2) { left: 10%; width: 20px; height: 20px; animation-duration: 12s; animation-delay: 2s; }
.circles li:nth-child(3) { left: 70%; width: 20px; height: 20px; animation-duration: 25s; animation-delay: 4s; }
.circles li:nth-child(4) { left: 40%; width: 60px; height: 60px; animation-duration: 30s; animation-delay: 0s; }
.circles li:nth-child(5) { left: 65%; width: 20px; height: 20px; animation-duration: 25s; animation-delay: 0s; }
.circles li:nth-child(6) { left: 75%; width: 110px; height: 110px; animation-duration: 25s; animation-delay: 3s; }
.circles li:nth-child(7) { left: 35%; width: 150px; height: 150px; animation-duration: 25s; animation-delay: 7s; }
.circles li:nth-child(8) { left: 50%; width: 25px; height: 25px; animation-duration: 50s; animation-delay: 15s; }
.circles li:nth-child(9) { left: 20%; width: 15px; height: 15px; animation-duration: 40s; animation-delay: 2s; }
.circles li:nth-child(10) { left: 85%; width: 150px; height: 150px; animation-duration: 20s; animation-delay: 0s; }
.circles li:nth-child(11) { left: 80%; width: 10px; height: 15px; animation-duration: 40s; animation-delay: 2s; }
.circles li:nth-child(12) { left: 50%; width: 25px; height: 25px; animation-duration: 50s; animation-delay: 15s; }
.circles li:nth-child(13) { left: 65%; width: 20px; height: 20px; animation-duration: 25s; animation-delay: 0s; }
.circles li:nth-child(14) { left: 10%; width: 20px; height: 20px; animation-duration: 12s; animation-delay: 2s; }


@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

