@font-face {
    font-family: exo;
    src: url(/fonts/Exo2.ttf);
}

@font-face {
    font-family: Saira;
    src: url(/fonts/SairaCondensed-Light.ttf);
}

* {
    font-family: exo, Verdana, sans-serif;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    display:flex;
    flex-direction: column;
    background-color: rgb(35, 35, 35);
    min-height: 100%;
}

main {
    flex:1;
    margin:8px;
    display:flex;
    flex-direction: column;
}

._footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;

    box-sizing: border-box;
    width:100%;
    background-color: rgb(29, 29, 29); 

    text-align: center;
    color:white;

}

._footer a {
    text-decoration: none;
    font-size:1rem;
    font-weight: bold;
    color:white;
}

._footer h5 {

    color:white;
    font-size: 0.6rem;
    margin:1rem;

}