:root {

    --backgroundColor: rgb(35, 35, 35);
    --footerColor: rgb(29,29,29);

    --filterHoverTextColor: invert(1);
    --filterTextColor: invert(0);
    --textColor: white;
    --headerColor: rgb(255, 166, 0);
    --filterHeaderColor: 
        brightness(0) 
        saturate(100%) 
        invert(56%) 
        sepia(95%) 
        saturate(900%) 
        hue-rotate(2deg) 
        brightness(103%) 
        contrast(101%) 
        brightness(70%);
    --slightHeaderColor: rgba(250, 223, 174, 1);


    --borderColor: #9d9d9d28;
    --boxShadow: rgba(0, 0, 0, 0.3);
    --buttonShadow: rgb(75, 75, 75);
    --buttonHoverColor: black;
    --disabledButtonColor:rgba(0, 0, 0, 0.82);
    --slightFieldBackgroundColor: #ffffff0a;
    --homeAnimationBackgroundColor: rgba(255, 255, 255, 0.2);


    --errorBackground: rgb(127, 0, 0);
    --errorTextColor: rgb(255, 156, 156);
    --infoBackground: rgb(0, 76, 0);
    --infoTextColor: rgb(115, 249, 115);
    --autoCompleteColor: rgb(156, 154, 255);

}

[data-theme=light] {


    --backgroundColor: white;
    --footerColor: rgb(213, 213, 213);
    --textColor: black;
    --filterTextColor: invert(1);
    --filterHoverTextColor: invert(0);
    --slightHeaderColor: rgb(196, 130, 7);

    --buttonShadow: rgb(203, 203, 203);
    --slightFieldBackgroundColor: rgba(180, 180, 180, 0.186);
    --homeAnimationBackgroundColor: rgba(226, 226, 226, 1);

    --errorBackground: rgb(255, 156, 156);
    --errorTextColor: rgb(127, 0, 0);
    --infoBackground: rgb(115, 249, 115);
    --infoTextColor: rgb(0, 76, 0);


}