main {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:var(--headerColor);

    & #homeButton {
        text-decoration: none;
        color:var(--textColor);
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.31s linear;

        &:hover {
            border-bottom-color:var(--textColor);
        }
    }
}