.__banner {
    margin-bottom:3em;

    & h1 {
        color:rgb(255, 166, 0);
        font-size: clamp(2rem, 10vw, 4rem);
        font-weight:bolder;
        word-break: break-all;
        margin-bottom:0;
    }

}

a {
    text-decoration:none;
}

.user {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:1em;
    
    position:relative;
    width:10rem;
    min-width:10rem;
    height:12rem;
    margin:0.2em;
    padding:0.2em;

    backdrop-filter: blur(10px);
    border: 1px solid #cccccc28;
    border-radius: 13px;

    transition: transform 0.31s linear;

    &:hover {
        transform: scale(1.1);
    }

    & .userDefaultAvatar {
        width:6rem;
        height:6rem;
        border-radius: 50%;
        background-color: rgb(35, 35, 35);
        color:white;
        font-weight: bold;
        font-size:2rem;

        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        user-select: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.82);

    }

    & figcaption {  
        color:white;
        font-size:1em;
        text-align: center;
        text-overflow: ellipsis;
        overflow-x:hidden;
        width:100%;
    }
    
}

#addPollButton img {
    cursor:pointer;
    width:4rem;
    position: fixed;
    bottom:0;
    right:0;
    padding:1rem;

    transition: all 0.31s ease;


    &:hover {
        filter:brightness(80%);
        transform: scale(1.1);
    }
}