main {
    align-items: center;
    row-gap:1em;

    & .title {
        font-size: 3rem;
        color:var(--headerColor);
        text-align: center;
    }

    & .notifications {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        gap:1em;
        max-width:800px;
        
        & .notification {
            font-family:Saira;
            background-color: var(--errorBackground);
            color: var(--errorTextColor);
            max-width:250px;
            width:100%;
            padding:1.5em;
            box-sizing: border-box;
            border-radius: 13px;

            & * {
                font-family: Saira;
            }

            &.nonfatal {
                background-color: var(--infoBackground);
                color:var(--infoTextColor);
            }

        }
        
    }

    & #form {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap:1.5em;
        width:100%;

        & .fieldWrapper {
            display: flex;
            flex-direction: row;
            position: relative;

            & label {
                position: absolute;
                left:1em;
                top:0.5em;
                color:var(--textColor);
                font-size:0.8em;
            }

            & .field {
                background-color: var(--backgroundColor);
                outline:none;
                border:1px solid var(--borderColor);
                box-sizing: border-box;
                border-radius: 8px;
                padding:2.5em 5em 1em 1em;
                max-width:250px;
                width:100%;
                color:var(--textColor);
                font-weight: normal;
                transition: outline 0.31s linear;

                &:focus {
                    border: 1.7px solid var(--headerColor);
                }

                &:-webkit-autofill {
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: var(--textColor);
                    color:var(--textColor);

                    font-weight: normal;
                    border: 1.7px solid var(--autoCompleteColor); 
                }

            }


        }

        & .submit {
            padding:1.5em;
            background:inherit;
            color:var(--headerColor);
            border:1px solid var(--headerColor);
            border-radius: 8px;
            cursor:pointer;

            transition: all 0.31s linear;

            &:hover {
                border-color:transparent;
                background-color: var(--headerColor);
                color: var(--buttonHoverColor);
                transform: scale(1.1);
            }
        }

        & .registerLink {
            text-decoration:underline;
            color:var(--headerColor);
        }

    }

}