.__banner {

    margin: 3em 0;

    & .___title {
        display:flex;
        align-items: center;
        column-gap: 0.5em;
    

        & h1 {
            color:var(--headerColor);
            font-size: clamp(3rem, 10vw, 4rem);
            font-weight:bolder;
            word-break: break-all;
            margin:0;
        }

        & #copyUserLinkButton {
            display:contents;

            & img {
                filter: var(--filterTextColor);
                cursor:pointer;
                width:3em;
                opacity:0.3;
                transition: opacity 0.3s ease, filter 0.3s ease;

                &:hover {
                    opacity:1;
                    filter: var(--filterHeaderColor);
                }
            }
        }
    }

    & .___info {
        display:flex;
        flex-direction: row;
        column-gap:0.2em;
        color:var(--textColor);
        
        & .____infoLabel {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap:0.2em;
            margin:0;

            & img {
                filter: var(--filterTextColor);
                width:0.8em;
                height:auto;
            }

            & figcaption {
                font-size: 0.8em;
                font-weight: bold;
                color:var(--textColor);
            }
        }
    }
     
}