<%- include('./partials/head.ejs', {scripts, styles, title:errorViewModel.code}) %>

<main>
    <h1><%= errorViewModel.message %></h1>
    <a href="/" id="homeButton">Powrót na stronę głównę</a>
</main>

<%- include('./partials/footer.ejs') %>