._headerNav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
    width:100%;

}

.__headerHome img {

    width:55px;
    height:auto;
}

@media only screen and (min-width:500px) {
   .__headerHome img {
        width:150px;
        height:auto;
   } 
}

.__headerOptions {
    display:flex;
}

.__headerOptions a, .__headerOptions form, .__headerOptions button {
    all:unset;
    display:contents;
}

.__headerOptions img {

    width:50px;
    height:auto;
    cursor:pointer;

}

.submit:hover {
    border-color:transparent;
    background-color: rgb(255, 166, 0);
    color:black;
    transform: scale(1.1);
}

.notifications {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap:1em;
    max-width:800px;
}

.notification {
    
    font-family:Saira;
    background-color: rgb(127, 0, 0);
    color: rgb(255, 156, 156);
    max-width:250px;
    width:100%;
    height: 100%;
    padding:1.5em;
    box-sizing: border-box;
    border-radius: 13px;

}

.notification.nonfatal {
    background-color: rgb(0, 76, 0);
    color:rgb(115, 249, 115);
    
}

.notification * {
    font-family:Saira;
}

.__title {
    color:rgb(255, 166, 0);
    font-size: 2em;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap:1em;
}

#form textarea[name='question'] {

    border:none;
    outline: none;
    background-color: #ffffff0a;
    color:white;
    padding:1.5em;
    border-radius: 8px;
    resize:none;
    width:100%;
    box-sizing: border-box;


}

#form textarea[name='question']::placeholder, 
#form .option input::placeholder  {
    font-style: italic;
}

#options {
    display:flex;
    flex-direction: column;
    row-gap:1em;
}

#form .option {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:1em;
}

#form .option input{

    border:none;
    outline: none;
    background-color: #ffffff0a;
    color:white;
    padding:1em;
    box-sizing: border-box;
    border-radius: 8px;
    max-width:50ch;
    width: 100%;

}
#form .option button, #addOptionButton {
    all:unset;
    display: contents;
}

#form .option button img {
    width:1.5em;
    cursor:pointer;
}


#addOptionButton img {
    cursor:pointer;
    width:1.5em;
    filter: brightness(0) invert(1);
    transition: all 0.31s ease;
}

#addOptionButton img:hover {
    transform: scale(1.1);
}

.submit {
    width:fit-content;
    align-self: center;
    padding:1.5em;
    background:inherit;
    color:rgb(255, 166, 0);
    border:1px solid rgb(255, 166, 0);
    border-radius: 8px;
    cursor:pointer;

    transition: all 0.31s linear;
}

.submit:hover {
    border-color:transparent;
    background-color: rgb(255, 166, 0);
    color:black;
}